<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/output.css">
    
    <link rel="icon" href="/image/brand_icon.svg">

    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
</head>

<body class="bg-white-base">
    <main class="grid grid-cols-12 h-dvh">
        <aside class="col-span-full lg:h-dvh lg:col-span-2">
            <div @click.away="open = false" class="flex min-w-max h-auto lg:h-dvh flex-col text-gray-700 lg:rounded-r-[40px] bg-white flex-shrink-0" x-data="{ open: false }">
                <div class="flex-shrink-0 px-8 py-4 flex flex-row items-center justify-between">
                    <div class="flex justify-center gap-2 items-center">
                        <img src="/image/brand_icon.svg" class="w-14 h-14 lg:w-[40px] lg:h-[40px]">
                        <h1 class="text-mobile-h3 text-dark lg:text-destop-h3 font-Custom">Bidding</h1>
                    </div>
                <button class="rounded-lg md:hidden focus:outline-none focus:shadow-outline" @click="open = !open">
                    <svg fill="currentColor" viewBox="0 0 20 20" class="w-6 h-6">
                    <path x-show="!open" fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z" clip-rule="evenodd"></path>
                    <path x-show="open" fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                    </svg>
                </button>
                </div>
                <nav :class="{'block': open, 'hidden': !open}" class="flex-grow md:block px-4 pb-4 md:pb-0 md:overflow-y-auto">
                <a class="text-mobile-p text-dark font-Custom block px-4 py-2 mt-2 rounded-desktop-form hover:text-gray-900 focus:text-gray-900 hover:bg-asset-1-light focus:bg-asset-1-light focus:outline-none focus:shadow-outline lg:text-destop-p" href="/admin/dashboard">Dashboard</a>
                <a class="text-mobile-p text-dark font-Custom block px-4 py-2 mt-2 rounded-desktop-form hover:text-gray-900 focus:text-gray-900 hover:bg-asset-1-light focus:bg-asset-1-light focus:outline-none focus:shadow-outline lg:text-destop-p" href="#">Products</a>
                <a class="text-mobile-p text-dark font-Custom block px-4 py-2 mt-2 rounded-desktop-form hover:text-gray-900 focus:text-gray-900 hover:bg-asset-1-light focus:bg-asset-1-light focus:outline-none focus:shadow-outline lg:text-destop-p" href="/admin/product">Add Product</a>
                <a class="text-mobile-p text-dark font-Custom block px-4 py-2 mt-2 rounded-desktop-form hover:text-gray-900 focus:text-gray-900 hover:bg-asset-1-light focus:bg-asset-1-light focus:outline-none focus:shadow-outline lg:text-destop-p" href="#">Product Request</a>
                <div @click.away="open = false" class="relative" x-data="{ open: false }">
                    <button @click="open = !open" class="flex flex-row items-center w-full px-4 py-2 mt-2 text-sm font-semibold text-left bg-transparent rounded-lg md:block hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline">
                    <span>Dropdown</span>
                    <svg fill="currentColor" viewBox="0 0 20 20" :class="{'rotate-180': open, 'rotate-0': !open}" class="inline w-4 h-4 mt-1 ml-1 transition-transform duration-200 transform md:-mt-1"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    </button>
                    <div x-show="open" x-transition:enter="transition ease-out duration-100" x-transition:enter-start="transform opacity-0 scale-95" x-transition:enter-end="transform opacity-100 scale-100" x-transition:leave="transition ease-in duration-75" x-transition:leave-start="transform opacity-100 scale-100" x-transition:leave-end="transform opacity-0 scale-95" class="absolute right-0 w-full mt-2 origin-top-right rounded-md shadow-lg">
                    <div class="px-2 py-2 bg-white rounded-md shadow">
                        <a class="block px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg md:mt-0 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline" href="#">Link #1</a>
                        <a class="block px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg md:mt-0 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline" href="#">Link #2</a>
                        <a class="block px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg md:mt-0 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline" href="#">Link #3</a>
                    </div>
                    </div>
                </div>
                </nav>
            </div>
        </aside>
        

        <section class="col-span-full lg:col-span-10 px-4 lg:px-8 overflow-y-auto scroll">
            <!-- title -->
             <div>
                <h1 class="font-Custom text-mobile-h1 lg:text-destop-h1">Create Auction</h1>
                <span class="font-Custom text-dark-light text-mobile-h4 lg:text-destop-h4">Add Product to create a Auction</span>
             </div>

             <form method="post" action="/admin/product" enctype="multipart/form-data" class="mt-3 col-span-12 flex flex-col gap-4 lg:col-span-8 px-4 py-4 lg:px-8 max-h-min bg-white rounded-desktop-form">
                <div class="grid grid-cols-12 gap-6">
                    <div class="flex gap-2 flex-col col-span-12 lg:col-span-12">
                        <label class="font-Custom font-normal text-mobile-p text-dark lg:text-destop-p" for="auctionName">Auction Name</label>
                        <input type="text" name="auctionName" class="font-Custom py-[10px] px-[8px] border-2 border-dark-light rounded-desktop-form  hover:border-dark focus:border-dark placeholder:font-Custom" placeholder="Enter Auction Name" required>
                    </div>
                </div>

                <div class="grid grid-cols-12 gap-6">
                    <div class="flex gap-2 flex-col col-span-12 lg:col-span-6">
                        <label class="font-Custom font-normal text-mobile-p text-dark lg:text-destop-p" for="auctionName">Start Time</label>
                        <input type="datetime-local" name="startTime" class="font-Custom py-[10px] px-[8px] border-2 border-dark-light rounded-desktop-form  hover:border-dark focus:border-dark placeholder:font-Custom" placeholder="Enter Auction Name" required>
                    </div>

                    <div class="flex gap-2 flex-col col-span-12 lg:col-span-6">
                        <label class="font-Custom font-normal text-mobile-p text-dark lg:text-destop-p" for="auctionName">End Time</label>
                        <input type="datetime-local" name="endTime" class="font-Custom py-[10px] px-[8px] border-2 border-dark-light rounded-desktop-form  hover:border-dark focus:border-dark placeholder:font-Custom" placeholder="Enter Auction Name" required>
                    </div>
                </div>

                <div class="grid grid-cols-12 gap-6">
                    <div class="flex gap-2 flex-col col-span-12 lg:col-span-6">
                        <label class="font-Custom font-normal text-mobile-p text-dark lg:text-destop-p" for="startingBid">Starting Bid</label>
                        <input type="number" inputmode="numeric" name="startingBid" class="font-Custom py-[10px] px-[8px] border-2 border-dark-light rounded-desktop-form  hover:border-dark focus:border-dark placeholder:font-Custom" placeholder="₹1000" required>
                    </div>

                    <div class="flex flex-col gap-2 col-span-12 lg:col-span-6">
                        <label class="font-Custom font-normal text-mobile-p text-dark lg:text-destop-p" for="bidIncrement">Bid Increment:</label>
                        <input type="number" name="bidIncrement" value="1000" class="font-Custom py-[10px] px-[8px] border-2 border-dark-light rounded-desktop-form  hover:border-dark focus:border-dark placeholder:font-Custom" placeholder="₹1000">
                    </div>
                </div>


                <label class="font-Custom font-normal text-mobile-p text-dark lg:text-destop-p" for="description">Description:</label>
                <textarea type="text" name="description" class="h-40 text-start font-Custom py-[10px] px-[8px] border-2 border-dark-light rounded-desktop-form  hover:border-dark focus:border-dark placeholder:font-Custom" required placeholder="Enter Auction Description"></textarea>
                
                <div class="grid grid-cols-12 gap-6">
                    <div class="flex gap-2 flex-col col-span-12 lg:col-span-7">
                        <label class="font-Custom font-normal text-mobile-p text-dark lg:text-destop-p" for="category">Category</label>
                        <select class="form-select max-h-max font-Custom py-[10px] px-[8px] border-2 border-dark-light rounded-desktop-form  hover:border-dark focus:border-dark placeholder:font-Custom" id="category" name="category">
                            <option value="">Select Category</option>
                            <!-- Categories would be dynamically generated from the database -->
                            <option value="category_id_1">Category 1</option>
                            <option value="category_id_2">Category 2</option>
                        </select>
                    </div>

                    <div class="flex flex-col gap-2 col-span-12 lg:col-span-5">
                        <label class="font-Custom font-normal text-mobile-p text-dark lg:text-destop-p" for="productImage">Product Image</label>
                        <input required type="file" name="image" multiple class="font-Custom py-[10px] px-[8px] border-2 border-dark-light rounded-desktop-form  hover:border-dark focus:border-dark placeholder:font-Custom" placeholder="₹1000">
                    </div>
                </div>

                <button type="submit" class="font-Custom py-[10px] bg-primary rounded-desktop-form text-white text-mobile-p lg:text-destop-p">Create a Auction</button>

             </form>
        </section>
    </main>

</body>
</html>