<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
    <link rel="stylesheet" href="/src/css/output.css">

    <!-- favicon -->
    <link rel="icon" href="/public/image/brand_icon.svg">


</head>
<body class="bg-asset-1-light">

    <nav class="px-5 flex min-w-max gap-5 place-content-center place-items-center lg:place-content-start">
        <img src="/public/image/brand_icon.svg" alt="brand_icon" class="w-[50px] h-[50px] lg:2-[60px] lg:h-[60px]">
        <span class="text-mobile-h3 font-Custom text-dark lg:text-destop-h3">Bidding</span>
    </nav>
    <main class="h-auto mt-2 flex flex-col place-content-center place-items-center lg:mt-5">
        <img src="/public/image/404_img.svg" alt="404 Image" class="w-[300px] h-[300px] lg:w-[350px] lg:h-[350px]">
        <div class="flex flex-col items-center gap-2 place-items-center lg:gap-1">
            <span class="font-Custom text-mobile-h2 text-dark lg:text-destop-h2">Oops!</span>
            <span class="font-Custom text-mobile-h4 text-dark lg:text-destop-h3">Seems Like something went wrong</span>
            <a href="" class="text-primary text-mobile-h4 lg:text-destop-p">Back to home page</a>
        </div>
    </main>
    
</body>
</html>